body {
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
}
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  justify-content: center;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.1);
}
aside {
  width: 370px;
  background: #1e2939;
}
.cv-photo {
  margin-top: 25px;
}
.header-secondary {
  color: #ffffff;
}
.contact-links {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}
.bold {
  font-weight: 700;
}
.list-secondary {
  color: #fb6d3a;
  font-size: 14px;
  line-height: 24px;
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}
.list-secondary-item {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}
.contact-block {
  margin-top: 51px;
  margin-left: 40px;
}

.tech-skills-block {
  margin-top: 47px;
  margin-left: 40px;
}
.soft-skills-block {
  margin-top: 44px;
  margin-left: 40px;
}
main {
  padding: 102px 88px 102px 88px;
}
.text-intro {
  width: 400px;
}
.job-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}
.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  margin-bottom: 40px;
}
.projects {
  width: 485px;
  margin-bottom: 51px;
}
.fonts {
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}
.list-primary {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 0;
  list-style-position: inside;
}
.list-primary-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  text-decoration: none;
}
.job-name {
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
}
.highlight {
  color: #fb6d3a;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
.time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.line {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.opis {
  color: #595959;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.works-experience {
  width: 525px;
  margin-bottom: 43px;
}
.education {
  width: 242px;
}
